<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Server=95.104.192.212; Database=A1caida; UserID=A1caida; Password=REvisE9023800; Port=3306; CharacterSet = utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>